<div class="ContentSideSections Implementation">
    <md-card *ngIf="chain" ngForm #chainForm="ngForm">
        <md-card-title>Chain Details</md-card-title>
        <md-card-content>
        <div>
             <div class="row form-group">
              <div class="col-md-1">
                </div>
                <div class="col-md-2"><label for="chainName">Chain Name  *</label></div>
                <div class="col-md-5">
                    <input class="form-control" id="chainName" [(ngModel)]="chain.chainName"  required placeholder="Required"  name="chainName" #chainName="ngModel"/>
                </div>
                <div class="col-md-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!chainName.valid && chainName.dirty && chainName.errors['required']">
                        <i class="fa fa-close"></i>
                        Chain Name is required
                    </div>
                </div>
            </div>
             <div class="row form-group">
              <div class="col-md-1">
                </div>
                <div class="col-md-2"><label for="remarks">Remarks </label></div>
                <div class="col-md-5">
                    <input class="form-control" id="remarks" [(ngModel)]="chain.remarks"   name="remarks" #remarks="ngModel"/>
                </div>
                <div class="col-md-4">
                </div>
            </div>
         </div>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button *ngIf="sub" (click)="onCancel()"><md-icon>cancel</md-icon>Cancel</button>
            <button md-raised-button (click)="onSave()" [disabled]="!chainForm.form.valid"><md-icon>save</md-icon>Save</button>
        </md-card-actions>
    </md-card>

</div>
